.sign-up{
  width: 300px;
  margin: auto;
}

// .sign-up-flex{

//   display:flex;
//   justify-content:space-around;
// }

.center-title{
  text-align: center;
}

.background-signup{
  width: 100%;
// height: calc(100vh - 70px);
height: 100%;

// background-repeat: no-repeat;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-title{
margin-top:0;
padding-top: 50px;
color: white;
}

.background-login{
  width: 100%;
height: calc(100vh - 70px);
// height: 100vh;
// background-repeat: no-repeat;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-inputs{
  color:white;
  // width: 50px;
}

@media only screen and (min-width: 2000px) {
        .background-signup{
           height:100vh;
              }
            }


