.tweet-form{
width: 500px;
margin:auto;
}


.title{
  text-align: center;
  text-decoration: underline;

}

.pages{
  text-align:center;

}

#tweets{
  padding-bottom:30px;
}

.flex-box{
  display:flex;
  justify-content:space-around;
}
