


.card{
  position: relative;
  background-color:white;
  width: 500px;
  margin:auto;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  height: 150px;
  margin-top:25px;
}

.username{
  position: absolute;
  left: 80px;
  top:6px;
  :hover{
    text-decoration:none;
  }

}

.tweet-content{
  position:absolute;
  top:70px;
  left:15px;
}

.date{
  position:absolute;
  top:18px;
  font-size: 12px;
  left: 330px;
}


.icons{
  position:absolute;
  bottom:10px;
  display:flex;
  left:15px;
  // justify-content:space-between;

}
.upvote{
   padding-right: 55px;
}


.icons :hover , .icons :hover, .icons :active, .icons :visited, .icons :focus{
  text-decoration:none;
}

.edit :hover , .edit :hover, .edit :active, .edit :visited, .edit :focus{
  text-decoration:none;
}

.destroy :hover , .destroy :hover, .destroy :active, .destroy :visited, .destroy :focus{
  text-decoration:none;
}
.edit{
  position:absolute;
  bottom:10px;
  right:125px;
  border-radius:50px;
}

.delete{
  position:absolute;
  bottom:10px;
  right:30px;
  border-radius:50px;


}
img{
  border-radius:50%;
}

.photo{
  position:absolute;
  border-radius:50%;
  top:10px;
  left:16px;
}




















